.hg
*.orig
*.rej
*~
*.swp
*.o
*.d
*.opic
*.a
*.so
*.so.[0-9]*
*.bin
*.bak
*.tmp
*.spot
*.spit
*.gcno
*.gcda
*.py[ocd]
TAGS
GTAGS
GRTAGS
GPATH
GSYMS
tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
.config

xen-dir
xen-dir-remote
grub-dir
grub-dir-remote
libvirt-dir
libvirt-dir-remote

memdisk.tar
dist
deb
rpm
