.hg
*.orig
*.rej
*~
*.swp
*.o
*.d
*.opic
*.a
*.so
*.so.[0-9]*
*.bin
*.bak
*.tmp
*.spot
*.spit
*.gcno
*.gcda
*.py[ocd]
TAGS
GTAGS
GRTAGS
GPATH
GSYMS
tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
.config
config

xen-dir
xen-dir-remote
grub-dir
grub-dir-remote
libvirt-dir
libvirt-dir-remote
ovmf-dir
ovmf-dir-remote/
qemu-dir
qemu-dir-remote/
qemu_traditional-dir
qemu_traditional-dir-remote/
seabios-dir
seabios-dir-remote/
xen-system.deb

memdisk.tar
dist
deb
rpm
