# Config variables for raisin
# Setup a Xen based system.

# Available options: 4.5, 4.6, master (for development branch)
XEN_RELEASE="4.7"

# Components
## All components: seabios ovmf xen qemu qemu_traditional grub libvirt linux
## Core xen functionality: xen
## Remove a component from the list below, if you want to disable it
## You can manually overwrite this list using the COMPONENTS
## environmental variable.
ENABLED_COMPONENTS="seabios ovmf xen qemu qemu_traditional grub libvirt"

# Build config
## Make command to run
MAKE="make -j2"
## Installation prefix (configure --prefix)
PREFIX="/usr"
## Install everything under DESTDIR
## If you want to install under / run raise.sh -i
DESTDIR=dist

# Git transport.  Use "http" if you're behind a firewall
GIT_TRANSPORT="git"
. configs/config-url-${GIT_TRANSPORT}

# Software versions.
. configs/config-${XEN_RELEASE}

# Tests
## All tests: busybox-pv busybox-hvm
## ENABLED_TESTS is the list of test run by raise test
ENABLED_TESTS="busybox-pv busybox-hvm cirros-separate-kernel-pv cirros-pygrub-pv cirros-pvgrub2-pv cirros-qemu-hvm cirros-qemu-pvhvm"
