# Config variables for raisin

# Components
## All components: seabios ovmf xen qemu qemu_traditional grub libvirt linux
## Core xen functionality: xen
## Remove a component from the list below, if you want to disable it
## You can manually overwrite this list using the COMPONENTS
## environmental variable.
ENABLED_COMPONENTS="seabios ovmf xen qemu qemu_traditional grub libvirt"

# Build config
## Make command to run
MAKE="make -j2"
## Installation prefix (configure --prefix)
PREFIX="/usr"
## Install everything under DESTDIR
## If you want to install under / run raise.sh -i
DESTDIR=dist

# Git urls. Use the http urls if you are behind a firewall.
#XEN_URL="http://xenbits.xen.org/git-http/xen.git"
#GRUB_URL="http://git.savannah.gnu.org/r/grub.git"
#LIBVIRT_URL="https://gitorious.org/libvirt/libvirt.git"
XEN_URL="git://xenbits.xen.org/xen.git"
QEMU_URL="git://xenbits.xen.org/qemu-upstream-unstable.git"
QEMU_TRADITIONAL_URL="git://xenbits.xen.org/qemu-xen-unstable.git"
SEABIOS_URL="git://xenbits.xen.org/seabios.git"
GRUB_URL="git://git.savannah.gnu.org/grub.git"
LIBVIRT_URL="git://xenbits.xen.org/libvirt.git"
OVMF_URL="git://xenbits.xen.org/ovmf.git"
LINUX_URL="git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git"

# Software versions.
XEN_REVISION="master"
QEMU_REVISION="master"
QEMU_TRADITIONAL_REVISION="3b45fcf0c163b9cff4d8115f7b75b42918a9b1b5"
# Thu Apr 9 19:49:24 2015 +0100
# qemu-trad: xenstore: use relative path for device-model node
SEABIOS_REVISION="rel-1.8.0"
# Wed Feb 18 12:49:59 2015 -0500
# docs: Note v1.8.0 release
GRUB_REVISION="master"
LIBVIRT_REVISION="xen-tested-master"
OVMF_REVISION="a065efc7c7ce8bb3e5cb3e463099d023d4a92927"
LINUX_REVISION="master"
